<h1>{{ title }}</h1>
<form>
<h2>Group Skill Master</h2>
<div class="search-container">
  <b> Add Skill To Group 
    <input type="text" ngModel value=" "/>
    <input type="text" ngModel value="Group Name"/>
    <button type="submit" >add</button>
    <button type="submit" >update</button>
    </b>
 
  <form action="/action_page.php">
   
    <b> List of Group
    <input type="text" ngModel placeholder="Search.." name="search">
    <button type="submit">Search</button>
    </b>
  </form>
</div>
  
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
   
  <table>
    <tr>
      <th>ID</th>
      <th>Group Name</th>
      <th>Skills</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr>
      <a href="#"> <td>1</td> </a>
      <td>Backend Dev</td>
      <td>Java,Spring Boot, Spring Core, JPA/JTA, Hibernate</td>
      <a href="#"> <td>link</td> </a>
      <td> <a href="#">link </a></td>
      
    </tr>
    <tr>
      <a href="#"> <td>2</td> </a>
      <td>Mean Stack </td>
      <td>MongoDB, Express.js, Angular 14, and Node.js </td>
      <a href="#"> <td>link</td> </a>
      <td>  <a href="#">link </a></td>
     
    </tr>
  </table>
</form>
